{% extends 'blog/base2.html' %}

{% load static %}




{% block content %}

		<!-- PAGE HEADER -->
		<div class="page-header">
			<div class="page-header-bg" style="background-image: url({% static 'blog/img/bg.png' %});" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10 text-center">
						<h1 class="text-uppercase">About Us</h1>
						<p class="lead">Pricehub is a search engine and blog for online shopping</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->

	</header>
	<!-- /HEADER -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Pricehub Search</h2>
						</div>
						<p>Pricehub is search engine for online shopping that easens the process of searching for products across multiple kenyan online stores</p>
						<blockquote class="blockquote">
							<p>Save time and money while doing online shopping</p>
							<footer class="blockquote-footer">pricehub</footer>
						</blockquote>
					</div>
				</div>
				<div class="col-md-7">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Pricehub Blog</h2>
						</div>
						<p>The blogs give you a personal review of the latest trends in fashion,tech and home and living products</p>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

{% endblock %}


